@using PagedList.Mvc;
@using PagedList;
@model IPagedList<Blog.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}




<!-- ==============================================
     BLOG INDEX - LIST OF POSTS
=============================================== -->

<section id="blog" class="big-padding">

    <div class="container">

        

        <p>
            
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Admin Panel", "Admin")
            }
            
            
        </p>
        
        <div class="row">

            <!-- Blog Post Content Column -->

            <div class="col-lg-8">

                <!-- Blog Post -->
                
                @foreach (var item in Model)
                {
                    var str = "Comments";
                    <!-- Title -->
                    <h3><a href="@Url.Action("Details", new { item.Slug })">@Html.DisplayFor(modelItem => item.Title)</a></h3>

                    <!-- Author -->
                    <p>
                        by Ray Goodwin
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p><span class="glyphicon glyphicon-time"></span> Posted on @Html.DisplayFor(modelItem => item.Created) | @Html.DisplayFor(modelItem => item.Comments.Count) 
                
                    @if ( item.Comments.Count == 1)
                    {
                         str = "Comment";

                    }
                    
                    @str
                    
                    </p>

                    <hr>

                    <!-- Post Image -->
                    
                    <div>
                        @if (item.MediaURL != null)
                        {
                            <img class="img-responsive" src="@item.MediaURL" alt="" />
                        }
                    </div>
                    
                    <!-- Post Content -->
                    <div class="ellipsis">

                        <p>@Html.Raw(item.Body)</p>

                   </div>

                    <br />
                    
                    
                    <p>
                      <input type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details", new {item.Slug })'" value="Read More"/>  
                      
                         
                    </p>

                    <hr />
                }
           


            </div><!-- End Blog Post Column -->

            <!-- Blog Sidebar Widgets Column -->

            <div class="col-lg-4">

                <!-- Blog Search Well -->

                <div class="well">

                </div><!-- End Blog Search Well -->
                <!-- Blog Categories Well -->

                <div class="well">

                </div><!-- End Blog Categories Well -->

                <div class="well">

               

                </div><!-- End Meta Well -->


            </div><!-- End Sidebar Widget Column -->

        </div><!-- End Row -->

        Page@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

        </div>
       
</section>
        
@section scripts {
    <script>
        $(document).ready(function () {
            $(".ellipsis").dotdotdot({
                ellipsis: '...',
                height: 25,

            })
        });
    </script>

}

