@using PagedList.Mvc;
@using PagedList;

@model IPagedList<Blog.Models.BlogPost>

@{
    ViewBag.Title = "Index";
    
}




<!-- ==============================================
     BLOG INDEX - LIST OF POSTS
=============================================== -->

<section id="blog" class="big-padding">

    <div class="container">
 
        <div class="row">

            <!-- Blog Post Content Column -->

            <div class="col-md-8">

                @foreach (var item in Model)
                {
                    var str = "Comments";
                    
                    <div class="blog-post">
                        
                        <div class="post-title">
                            <h3><a href="@Url.Action("Details", new { item.Slug })">@Html.DisplayFor(modelItem => item.Title)</a></h3>
                        </div><!-- /post title -->

                        <div class="post-meta">
                            <span>
                                <i class="fa fa-calendar-o"></i>
                                @Html.DisplayFor(modelItem => item.Created)
                            </span>
                            <span>
                                <i class="fa fa-user"></i>
                                by Ray Goodwin
                            </span>
                            <span>
                                <i class="fa fa-folder-o">
                                    in <a href="@Url.Action("Index", new {category = (item.Category) })">@Html.DisplayFor(modelItem => item.Category)</a>
                                </i>
                            </span>
                            <span>
                                <i class="fa fa-comment-o"></i>
                                @Html.DisplayFor(modelItem => item.Comments.Count)
                                @if (item.Comments.Count == 1)
                                {
                                    str = "Comment";

                                }

                                @str
                            </span>
                        </div><!-- /post meta -->
                        <hr />

                        @if (item.MediaURL != null)
                        {
                            <img class="img-responsive" src="@item.MediaURL" alt="" />
                        }

                        <div class="post-body ellipsis">
                            @Html.Raw(item.Body)
                            <div class="clearfix"></div>
                        </div><!-- /post-body -->
                        <br />
                        <p><input type="button" class="btn btn-default" onclick="location.href='@Url.Action("Details", new {item.Slug })'" value="Read More" /></p>

                    </div><!-- /blog-post -->
                    
                    <hr />
                }

            </div><!-- End Blog Post Column -->

            <!-- Begin SideBar -->
            
            <div class="col-md-4">

                @Html.Partial("SideBar")

            </div>

            <!-- End SideBar -->

            

        </div><!-- End Row -->

        Page@(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))

        </div>
       
</section>
        
@section scripts {
    <script>
        $(document).ready(function () {
            $(".ellipsis").dotdotdot({
                ellipsis: '...',
                height: 25,

            })
        });
    </script>

}

