@model IEnumerable<Blog.Models.BlogPost>

@{
    ViewBag.Title = "Index";
}




<!-- ==============================================
     BLOG INDEX - LIST OF POSTS
=============================================== -->

<section id="blog" class="big-padding">

    <div class="container">

        <h2>Index</h2>

        <p>
            
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                @Html.ActionLink("Admin Panel", "Admin")
            }
            
            
        </p>
        
        <div class="row">

            <!-- Blog Post Content Column -->

            <div class="col-lg-8">

                <!-- Blog Post -->
                
                @foreach (var item in Model)
                {

                    <!-- Title -->
                    <h1>@Html.DisplayFor(modelItem => item.Title)</h1>

                    <!-- Author -->
                    <p class="lead">
                        by <a href="#">Ray Goodwin</a>
                    </p>

                    <hr>

                    <!-- Date/Time -->
                    <p><span class="glyphicon glyphicon-time"></span> Posted on @Html.DisplayFor(modelItem => item.Created)</p>

                    <hr>

                    <!-- Post Content -->
                    <div class="ellipsis">

                        <p>@Html.Raw(item.Body)</p>

                   </div>

                    <br />
                    
                    
                    <p>
                         
                      <button type="button" class="btn btn-default">@Html.ActionLink("Read More", "Details", new { id = item.Id })</button>    
                         
                    </p>

                    <hr />
                }
           


            </div><!-- End Blog Post Column -->

            <!-- Blog Sidebar Widgets Column -->

            <div class="col-lg-4">

                <!-- Blog Search Well -->

                <div class="well">

                </div><!-- End Blog Search Well -->
                <!-- Blog Categories Well -->

                <div class="well">

                </div><!-- End Blog Categories Well -->

                <div class="well">

               

                </div><!-- End Meta Well -->


            </div><!-- End Sidebar Widget Column -->

        </div><!-- End Row -->

        </div>
       
</section>
        
@section scripts {
    <script>
        $(document).ready(function () {
            $(".ellipsis").dotdotdot({
                ellipsis: '...',
                height: 25,

            })
        });
    </script>

}

