
<!-- Blog Sidebar Widgets Column -->

<div class="widget widget_search">
    
    <form method="post" action="@Url.Action("Index", "BlogPosts")">
        <div>
            <input type="search" name="search" />
            <input type="submit" id="search-button">
        </div>
        
    </form>
</div>

<div class="widget widget_categories">
    <h6 class="widget-title">Categories</h6>
    <ul>
        <li>
            <a href="@Url.Action("Index", new { category="Personal" })" class="btn btn-rg btn-small btn-main-color">Personal</a>
        </li>
        <li>
            <a href="@Url.Action("Index", new { category = "Professional" })" class="btn btn-rg btn-small btn-main-color">Professional</a>
        </li>
        @*<li>
            <a href="@Url.Action("Index", new { category = "Testing" })" class="btn btn-rg btn-small btn-main-color">Testing</a>
        </li>*@
    </ul>
</div>

<div class="widget widget_categories">
    <h6 class="widget-title">User</h6>
        @Html.Partial("_LoginPartial")
</div>

<!-- End Sidebar Widget Column -->
