@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm"}))
    {
        @Html.AntiForgeryToken()

        <ul>
            <li>
                <a href="@Url.Action("Index", "Manage")" class="btn btn-rg btn-small btn-main-color"><i class="fa fa-user"></i>@User.Identity.Name</a>
            </li>
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-rg btn-small btn-main-color"><i class="fa fa-sign-out"></i>Log off</a>
            </li>
            @if (HttpContext.Current.User.IsInRole("Admin"))
            {
                <li>
                    <a href="@Url.Action("Admin","BlogPosts")" class="btn btn-rg btn-small btn-main-color">Admin Panel</a>
                </li>
            }
        </ul>
    }
}
else
{
    <ul>
        <li>
            <a href="@Url.Action("Register", "Account")" class="btn btn-rg btn-small btn-main-color">Register</a>
        </li>
        <li>
            <a href="@Url.Action("Login", "Account")" class="btn btn-rg btn-small btn-main-color">Login</a>
        </li>
    </ul>

}
